.profil_alls {
    background-color: #F4F5FA;
    width: 800px;
    height: 550px;
    padding: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.profil_alls .profil{
    display: flex;
}

.profil_alls .profil .block_img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil_alls .profil .block_img .pstatus .status-indicators{
    background-color: aqua;
}


.profil_alls .profil .block_img .pstatus .status-indicators .online {
    background-color: #4caf50;
}


.profil_alls .profil .block_img .image{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    border: 3px solid black;
    background-color: white;
    transform: translateY(-60%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.profil_alls .profil .block_img .on{
    position: relative;
    bottom: 135px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.profil_alls .profil .block_img .on .online{
    background-color: #00FF47;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    border: 2px solid black;
}
.profil_alls .profil .block_img .on .offline{
    background-color: #FF1F00;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    border: 2px solid black;
}



.profil_alls .profil .block_user{
    position: relative;
    left: 30px;
    width: 100%;
}

.profil_alls .profil .block_user .username{
    transform: translateY(-170%);
    font-size: 60px;
    font-weight: bold;
}

.profil_alls .profil .block_user .level{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 60px;
    left: 20px;
}

.profil_alls .profil .block_user .percent{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    border-radius: 30px;
    box-shadow: inset 0 7px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.profil_alls  .options{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 40px;
    position: relative;
    bottom: 70px;
    filter: drop-shadow(0 8px 16px rgba(102, 102, 102, 0.5));
}

.profil_alls  .options div:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.profil_alls .friendlist{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 270px;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #000000 #F4F5FA;
    position: relative;
    bottom: 40px;
    padding: 0px 20px 0px 20px;
}