*{
    padding: 0;
    margin: 0;
}

.blockl_all{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockl_all .block{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    width: 400px;
    padding: 40px;
    padding-bottom: 80px;
    padding-top: 70px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.blockl_all .block .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    width: 100%;
}

.blockl_all .block .container .high{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 60%;
}

.blockl_all .block .container .high input{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}

.blockl_all .block .container .high .forgot{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}

.blockl_all .block .container .high .forgot a{
    text-decoration: none;
}

.blockl_all .block .container .high .pair{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.blockl_all .block .container .low{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}


.blockl_all .block .container .low .login{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 20px;
    padding-left: 93px;
    padding-right: 93px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}


.blockl_all .block .input-error{
    border: 2px solid red;
}

.blockl_all .block .error-message{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.blockl_all .block .container .too_low .sign{
    display: flex;
    justify-content: center;
    column-gap: 7px;
    font-size: 13px;
}

.blockl_all .block .container .too_low .sign h4 button{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 0px;
    font-size: 15px;
    cursor: pointer;
    color: rgb(46, 0, 99);
}

.blockl_all .block .container .low .intra{
    background-color: rgb(70, 0, 93);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.blockl_all .block .container .too_low{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

/* .blockl_all .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Un arrière-plan semi-transparent pour l'overlay */
/* } */

