.other-ranks{
    background-color: #1c2864;   
    box-shadow: 10px 10px 15px rgba(125, 125, 125, 0.3);
    width: 1700px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.other-ranks .image{
    width: 40px;
    height: 40px;
    border-radius: 200px;
    border: 2px solid black;
    background-color: white;

}

.other-ranks .right{
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    left: 25px;
}

.other-ranks .right div{
    filter: drop-shadow(0 8px 16px rgba(102, 102, 102, 0.5));
}

.other-ranks .right .username{
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.other-ranks .score{
    display: flex;
    position: relative;
    right: 50px;
    column-gap: 15px;
    
}

.other-ranks .score div{
    display: flex;
    font-weight: bold;
    font-size: 25px;
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.5));
}

.other-ranks .rank{
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.5));
    position: absolute;
    left: 48%;
    font-weight: bold;
    font-size: 25px;
}

.even-rank {
    background-color: #ffffff;
}

.odd-rank {
    background-color: #c2b1d6;
}