.policy_all{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../assets/profilback1.jpg');

}

.policy_all .text{
    position: relative;
    left: 170px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    width: 1700px;
    height: 1000px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;    
    font-size: 20px;
    row-gap: 70px;
    overflow-y: auto;
    position: relative;
    scrollbar-width: thin; 
    scrollbar-color: #000000 #ffffff;
}

.policy_all .text .pcontents{
    filter: drop-shadow(0 8px 16px rgba(102, 102, 102, 0.5));
    position: relative;
    top: 100px;
    left: 150px;
    width: 90%;
    padding-bottom: 50px;
    
}

.policy_all .text .title{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 8px 16px rgba(102, 102, 102, 0.5));
    position: relative;
    top: 100px;
    left: 600px;
    width: 50%;
}
.policy_all .text .title h1{
    border-bottom: 2px solid black;
}

.policy_all .text .title img{
    position: relative;
    left: 120px;   
}

.policy_all .text .link{
    padding: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.policy_all .text .link .subtitle{
    border: none;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}

.policy_all .text .link .subtitle:hover{
    color: blueviolet;
}

.policy_all .text .link .subtitle a:hover{
    color: blueviolet;
}

.policy_all .text .link .subtitle a{
    text-decoration: none;
    color: black;
}

