.msg-bubble{
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}

.msg-body{
    display: flex;
    align-items: center;
    max-width: 50%;
    background-color: #e6e6e6;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 0px;
    color: #000;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    flex-wrap: wrap;
}

.msg-body p{
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.senderIcon{
    display: flex;
    margin: 0px 5px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    align-items: end;
}