.right-bubble{
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: right;
}

.right-body{
    display: flex;
    align-items: center;
    max-width: 50%;
    background-color: #dacbf3;
    padding: 5px 10px;
    border-radius: 10px 0px 10px 10px;
    color: #000;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    flex-wrap: wrap;
}

.right-body p{
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
