.chat-section{
    height: 90%;
    width: 80%;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.29);
    color: #000;
    position: relative;
    left: 170px;
    padding: 30px;
    border-radius: 20px;
}

.left-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    justify-content: space-between;
}

.top-left-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-left-section .friends-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.users-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 60vh;
    overflow-y:auto;
    overflow-x: hidden;
}

.left-section li{
    margin: 10px 5px  5px 5px;
    list-style-type: none;
}
.left-section span {
    color: #474221;
    margin-left: 5px;
}

.left-section span:hover{
    color: #000000;
}

.left-section::-webkit-scrollbar {
    width: 8px;
}

.left-section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e3e3e3; 
    /* background: #e3e3e3; */
    border-radius: 20px;
}

.left-section::-webkit-scrollbar-thumb {
    background: rgb(152, 129, 129);
    border-radius: 10px;
    /* width: 18px; */
}

.left-section::-webkit-scrollbar-thumb:hover {
    background: #4c4b4b;
}


.right-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 50%;
    margin: 10px;
    /* background-color: #4c4b4b; */
}
.chat-area{
    margin: 10x;
    padding: 20px 20px;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 10px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgba(255, 255, 255, 0);
    overflow-y: auto;
}

.messages-area{
    margin-bottom: 10px;
    background-color: #aa4ec8;
    
}
.send-area
{
    margin-top: 20px;
    width: 80%;
    height: 50x;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #F6F6F6;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}

.send-area input
{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 80%;
    padding: 5px 10px;
    color: black;
    background-color: #ffffff00;
}
.file-icon{
    width: 20px;
    height: 20px;
    color: #000;
}
.send-icon{
    width: 20px;
    height: 20px;
    color: #000;
}

.no-conv{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(194, 37, 37); */
}


