
.user-card {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.29);
  background-color: #f6f6f6;
  width: 100%;
}

.user-card:hover {
  background-color: #D8CFE3;
  /* background-color: #333333af; */
  /* color: #f1e9e9; */
}

.ppc {
  position: relative;
}

.ppc .prfpicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.status-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.online {
  background-color: #4caf50;
}

.offline {
  background-color: #e3e3e3;
}

.user-info {
  flex: 1;
}

.user-info .user-name {
  margin: 0;
  font-size: 18px;
  color: #545252;
}


