.chat-card{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;
    background-image: url('../../../assets/homeback.jpg');
    /* background-color: aqua; */
}

/* .chat-card .usr{
    background-color: blueviolet;
    position: relative;
    left: 200px;
    width: 100%;
} */
